<h1>Analisador de Comentários</h1>

<%= form_with url: analyze_path, method: :post, local: true do |form| %>
  <div>
    <p>
      Nomes para usar como teste :
      <b>
        (Bret, Antonette, Samantha, Karianne, Kamren, Leopoldo_Corkery,
          Elwyn.Skiles, Maxime_Nienow, Delphine, Moriah.Stanton)
      </b>
    </p>

    <%= form.label :username, "Nome de usuário do JSONPlaceholder" %><br>
    <%= form.text_field :username, required: true %>
  </div>

  <br>

  <%= form.submit "Iniciar análise" %>
<% end %>
