<footer class="flex justify-center footer text-black items-center lg:h-20 md:h-16 border-t border-gray-300 fixed bottom-0 w-full bg-gray-200">
  <p>Desenvolvido por Renato Hernandez - 2025 - All right reserved</p>
</footer>
